#include "Arduino.h"
#include "config.h"

int pitch_default = 20;
int yaw_default = 90;
const char *hostname = "ggkg";
const char* ssid = "wdnmd";
const char* password = "a1gaoshan";

#if WIFI_USE_STATIC_IP
IPAddress local_ip(192, 168, 1, 100);
IPAddress netmask(255, 255, 255, 0);
IPAddress gateway(192, 168, 1, 1);
#endif

const IPAddress wg_local_ip(192, 168, 100, 1);
const char *wg_private_key = "";
const char *wg_endpoint_address = "wg.youmu.love";
const char *wg_public_key = "";
uint16_t wg_endpoint_port = 50000;
